/*Creates red text role*/
.red {
    color:red;
}

/*Creates underline text role*/
.underline {
		text-decoration: underline;
}

/*Crop images*/
.crop {
    width: 200px;
    height: 150px;
    overflow: hidden;
}